
body{
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    background-color: aqua;
  
  img{
    padding: 30%;
    width: 50%;
    height: 15%;
    display: block;
    margin: 0 auto;
  }
  
  p{
    text-align: justify;
    text-align: left;
  }
  